.navContainer {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-between;
  position: fixed;

  width: 100%;
  padding: 16px 32px 16px 32px;
  margin: 0;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #e4e4e7;
}

.link {
  list-style-type: none;
}

.link:hover {
  color: #dc2626;
}

.link:active {
  color: #991b1b;
}

.active {
  color: #b91c1c;
}

.active:hover {
  color: #dc2626;
}

.active:active {
  color: #991b1b;
}
