.wrapper {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-areas:
    "logo"
    "main"
    "navbar";
  padding-left: 512px;
  padding-right: 512px;
  height: 100vh;
}

@media screen and (max-width: 600px) {
  .wrapper {
    padding-left: 12px;
    padding-right: 12px;
  }
}
