.logoWrapper {
  display: flex;
  align-items: center;
  height: 10vh;
  padding: 16px 0px 16px 0px;

  border-style: solid;
  border-color: #d4d4d8;
  border-width: 0px;
  border-bottom-width: 1px;
}

.logo {
  width: 128px;
}

@media screen and (max-width: 600px) {
  .logo {
    width: 92px;
  }
}
