.primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding-top: 32px;
  padding-bottom: 16px;
  color: white;
}

.section {
  padding-bottom: 32px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 12px;
}
