html,
body {
  padding: 0;
  margin: 0;
  @import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap");
  font-family: "Yesteryear", cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #e4e4e7;
  }
}

.logo {
  color: #b91c1c;
}
